.TextRow {
  display: flex;
  margin: 30px auto;

  p {
    width: auto;
  }

  img {
    margin-left: 30px;
    width: 200px;
    height: 200px;
    display: block;
  }

  @media screen and (max-width: 800px) {
    img {
      display: none;
    }
  }

  &.right {
    text-align: right;
    flex-direction: row-reverse;
  }
}
