li.calendar:before {
  background-image: url(../img/assets/calendarYellow.svg);
}

li.clock:before {
  background-image: url(../img/assets/clockYellow.svg);
}

li.dollar:before {
  background-image: url(../img/assets/dollarYellow.svg);
}

li.location:before {
  background-image: url(../img/assets/locationYellow.svg);
}

li.exam:before {
  background-image: url(../img/assets/examYellow.svg);
}