.TabBar {
  display: flex;
  justify-content: space-around;

  .tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    min-height: 50px;
    border: 1px solid rgba(black, 0.1);

    cursor: pointer;
    transition: 0.4s all;

    &:hover,
    &.active {
      font-weight: 600;
      background-color: var(--secondary);
      color: white;
      border-left: 5px solid var(--primary);
    }
  }
}
