mixin career(data)
  section.career
    h1 Career perspectives
    p #{data.desc}

    .row
      - for(let i = 0; i < data.careers.length; i++)
        - let current = data.careers[i];
        .perspective
          - let image = 'img/assets/' + current.image
          img(src=image)
          .text
            h3 #{current.name}
            p #{current.desc}