mixin contact
  section.contact
    h1.right Contact
    .socialElements
      a.element(href='mailto:sric@systems.cs.pub.ro')
        img(src='img/assets/mail.svg')
        span sric@systems.cs.pub.ro
      a.element(href='https://www.google.com/maps?ll=44.434906,26.047853&z=14&t=m&hl=en-US&gl=RO&mapclient=embed&cid=18202359813611315388')
        img(src='img/assets/map.svg')
        span Precis 708, Campus UPB, #[br] Iuliu Maniu 6F, București
      a.element(href='http://facebook.com/systems.cs.pub.ro')
        img(src='img/assets/fb.svg')
        span /systems.cs.pub.ro
    .contact
      h2.error
      iframe(id='nodisplay' name='nodisplay')
      form(method='POST' target='nodisplay' data-url='https://docs.google.com/a/tech-lounge.ro/forms/d/e/1FAIpQLSf68J1SANwaWX2k1Z7uqWoYQsfePfp1CuoZVlNl08dV7V4NTA/formResponse?')
        .row
          .input
            label(for='name') Name
            input(type='text' data-id='entry.2043247778' name='name')

          .input
            label(for='surname') Surname
            input(type='text' data-id='entry.1087798805' name='surname')

          .input
            label(for='email') Email
            input(type='email' data-id='entry.1583697866' name='email')

        .textarea
          label(for='message') Message
          textarea(data-id='entry.2120229607' name='message')
        button.arrow#sendButton Send
    iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5535.522951136199!2d26.044822780545218!3d44.43597121268981!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b201c5d638d499%3A0xfc9bc5cf6c25e0bc!2sCentrul+PRECIS!5e0!3m2!1sen!2sro!4v1469621659042', frameborder='0', style='border:0', allowfullscreen='')
