mixin courses(courses, teachers)
  include ../util/entryGenerator.pug
  section.courses
    h1.right Courses

    .selector
      .row
        .title
          p First semester
        +entryGenerator(courses.sem1, teachers)

      .row
        .title
          p Second semester
        +entryGenerator(courses.sem2, teachers)
      .row
        .title
          p Third semester
        +entryGenerator(courses.sem3, teachers)
      .row
        .title
          p Fourth semester
        .entry.long.disabled
          p Graduation Project
    .content
      .title
        h2
        h3
      .teachers
      .text
      .info
        img(src='')
        a(target="_blank")
          button.plane Course resources