mixin courses(courses, teachers)
  include ./_entryGenerator.pug
  section.courses
    h1.right Courses

    .selector
      .row
        .title
          p First semester
        +entryGenerator(courses.sem1, teachers)

      .row
        .title
          p Second semester
        +entryGenerator(courses.sem2, teachers)
      .row
        .title
          p Third semester
        +entryGenerator(courses.sem3, teachers)
      .row
        .title
          p Fourth semester
        .entry.long.disabled
          p Graduation Project
    .content
      .title
        h2 Auditing network security
        h3 Auditarea securitatii retelelor
      .teachers
        .teacher
          img(src='img/people/ionionescu.jpg')
          h2 Razvan Deaconescu

        .teacher
          img(src='img/people/ionionescu.jpg')
          h2 Razvan Deaconescu
      .text
        p Non laborum sit nostrud aliqua occaecat minim eu aliqua occaecat pariatur fugiat exercitation proident minim pariatur nulla. Enim anim proident qui ut ullamco magna veniam sit dolore. Amet laboris ex in exercitation duis do eiusmod minim et officia enim id minim qui labore mollit. Amet nulla reprehenderit ipsum non pariatur culpa officia ipsum dolore. Commodo minim ex duis officia esse deserunt veniam in ex aute consectetur enim cupidatat exercitation anim.
        p Laboris ipsum adipisicing adipisicing voluptate nostrud et tempor Lorem veniam officia quis. Tempor magna officia excepteur incididunt excepteur non pariatur aliqua dolor ipsum dolor mollit do ipsum dolore. Officia fugiat voluptate laborum esse est aute consequat amet amet magna laborum consequat amet minim magna ipsum. Ex deserunt labore culpa amet sunt cupidatat deserunt tempor enim. Nulla duis esse aliqua consequat eiusmod id labore velit pariatur labore sunt magna aliquip esse.
      .info
        img(src='img/assets/course.png')
        a(href='#')
          button.plane Course resources