mixin header(courses)
  header
    .logos
      img(src='img/logos/systems.svg')
      img.right(src='img/logos/upb.svg')
    img.globe(src='img/assets/globe.svg')
    img.sric(src='img/logos/sric.svg')

    .scrollers
      .scroller.right
        - for(let rep = 0; rep < 10; rep++)
          - for(let i = 0; i < courses.filter(e => e.semester == '1').length; i++)
            - let current = courses.filter(e => e.semester == '1')[i]
            span #{current.name}

      .scroller.right
        - for(let rep = 0; rep < 10; rep++)
          - for(let i = 0; i < courses.filter(e => e.semester == '1').length; i++)
            - let current = courses.filter(e => e.semester == '2')[i]
            span #{current.name}

      .scroller.right
        - for(let rep = 0; rep < 10; rep++)
          - for(let i = 0; i < courses.filter(e => e.semester == 'e').length; i++)
            - let current = courses.filter(e => e.semester == '3')[i]
            span #{current.name}
    a(href='#why' data-scroll)
      img.arrow(src='img/assets/arrow.svg')