mixin howtoapply
  section.howtoapply
    h1.right How to apply ?

    include ./howtoapply/registration.pug
    include ./howtoapply/prep.pug
    include ./howtoapply/admission.pug
    include ./howtoapply/signing.pug
    include ./howtoapply/research.pug
