section.courses {
  h2 {
    margin-bottom: 0;
  }

  h3 {
    margin-top: 0;
  }

  .content {
    a {
      transition: 0.4s opacity;
    }

    .teacher {
      display: inline-block;
      margin-right: 10px;

      img,
      h2 {
        display: inline-block;
        vertical-align: middle;
      }

      img {
        height: 60px;
        margin-right: 10px;
      }

      h2 {
        font-size: 16px;
        font-family: $regularFont;
      }
    }
  }

  .entry.disabled {
    position: relative;
  }

  .row .entry.disabled:after {
    position: absolute;
    height: 0;
    overflow: hidden;
    left: 0;
    bottom: -100%;
    z-index: 100;
    padding: 5px;

    content: 'The list of elective courses will be available in October 2016.';

    text-transform: none;
    color: white;
    background-color: rgba(0,0,0,0.8);

    opacity: 0;
    transition: 0.4s all;
  }

  .row .entry.disabled:hover:after {
    opacity: 1;
    height: 50px;
  }

  .row .entry.disabled:last-child:after{
    display: none;
  }
}