section.howtoapply {
  @import 'howtoapply/registration';
  @import 'howtoapply/prep';
  @import 'howtoapply/admission';
  @import 'howtoapply/signing';
  @import 'howtoapply/research';

  @import 'howtoapply/list';

  max-height: 0;
  overflow: hidden;
  transition: 4s all;

  &.active {
    max-height: 2500px;
  }

  .step {
    @include span-columns(4);
    @include shift(4);

    @media screen and (max-width: 1500px) {
      @include span-columns(6);
      @include shift(3);
    }

    border-right: 1px solid $blue;
    border-bottom: 1px solid $blue;

    padding: 0 100px;

    &.first {
      margin-top: 50px;
    }

    &:not(.first) {
      padding-top: 64px;
    }

    &:nth-child(odd) {
      padding-right: 0;
    }

    &:nth-child(even) {
      padding-left: 0;
    }

    > h1 {
      position: relative;
      margin: -30px 0 0 0 ;
      padding: 0;

      font-family: $lightFont;
      font-size: 45px;
      text-align: right;
      text-transform: none;
      white-space: nowrap;

      &:after {
        content: '';

        width: 150px;
        height: 150px;

        position: absolute;
        display: block;
        top: -35px;
        right: -175px;
      }
    }
  }

  .step.left {
    border-right: 0;
    border-left: 1px solid $blue;

    > h1 {
      text-align: left;

      &:after {
        right: auto;
        left: -175px;
      }
    }
  }
}