section.people {
  .peopleList {
    @include span-columns(10);
    @include shift(1);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .person {
    width: calc(100% / 5);
    text-align: center;

    @media screen and (max-width: $mobileBreakpoint) {
      width: 50%;
    }

    h2 {
      font-size: 20px;
      margin-bottom: 0;
    }

    h3 {
      font-size: 15px;
      margin-top: 0;
    }

    img {
      height: 150px;
    }
  }
}