section.why {
  .text {
    @include span-columns(8);
    @include shift(1);

    button {
      position: relative;
      display: block;
      margin: 0 auto;
    }
  }

  img {
    @include span-columns(2);
  }
}