// Vendor imports
@import 'neat';
@import 'vendor/normalize';

//Colors
$blue: #063551;
$orange: #E08003;
$yellow: #FBB03B;

// Website imports
@import 'selector';
@import 'font/fonts';
@import 'sections/header';
@import 'sections/why';
@import 'sections/courses';
@import 'sections/career';
@import 'sections/community';
@import 'sections/people';
@import 'sections/footer';
@import 'sections/howtoapply';
@import 'sections/contact';

.right {
  float: right;
}

body {
  overflow-x: hidden;
  font-family: $regularFont;
}

section {
  @include span-columns(12);

  h1,
  h2,
  h3 {
    @include shift(1);

    color: $blue;
    font-family: $boldFont;
    font-size: 60px;
    text-transform: uppercase;

    &.right {
      @include span-columns(10);
      text-align: right;
    }
  }

  h2, h3 {
    @include shift(0);
    font-size: 30px;
    text-transform: none;
  }

  h3 {
    font-size: 20px;
    font-family: $regularFont;
  }
}

button {
  width: 250px;
  height: 30px;

  border: 0;

  text-transform: uppercase;
  font-family: $regularFont;
  font-size: 20px;

  color: white;
  background-color: $orange;

  cursor: pointer;

  &:after {
    content: '';
    width: 20px;
    height: 20px;

    display: inline-block;
    vertical-align: middle;

    background-repeat: no-repeat;
    background-position: center;
  }

  &.arrow:after {
    background-image: url(../img/assets/buttonArrow.svg);
  }

  &.plane:after {
    background-image: url(../img/assets/plane.svg);
  }

  &.download:after {
    background-image: url(../img/assets/buttonDownload.svg);
  }
}