// Vendor imports
@import 'neat';
@import 'vendor/normalize';

// Website imports
@import 'font/fonts';
@import 'sections/header';

.right {
  float: right;
}

body {
  overflow-x: hidden;
  font-family: $regularFont;
}