.step.admission
  h1 Admission exam

  ul.right
    li.location
      h1 Location
      h2 Faculty of Automatic Control and Computers, UPB

  ul.right
    li.calendar
      h1 Date
      h2 September 15 2016

  ul.right
    li.clock
      h1 Duration
      h2 120 minutes

  ul.right
    li.exam
      h1 Structure
      h2 4 tests for the closed-question quiz exam
      h2 1 test comprising the written presentation of the selected research theme