.step.left.prep
  h1 Prep for admission exam
  p The admission exam consists of two stages: the closed-ended quiz and the presentation of the research theme.

  .split
    h1 Closed-ended quiz
    p For the quiz exam students must select 4 disciplines and study the respective bibliography.
    a(href='#')
      button.download Procedure and discipline list
  .split
    h1 Presentation of research theme
    p Candidates should choose a research theme and prepare to present it in writing.