.step.first.registration
  h1 Registration
  p The SRIC Master's Program offers #[span 30 places subsidized] by the state budget, and #[span 10 places with a tuition fee].

  ul.right
    li.calendar
      h1 Early registration
      h2 July 11 - 22 2016
    li
      h1 Summer registration
      h2 August 29 - September 13 2016

  ul.right
    li.clock
      h1 Opening times
      h2 Monday - Friday, 9:00 - 15:00

  ul.right
    li.dollar
      h1 Registration fee
      h2 125 RON