.step.research
  h1 Selecting the research project
  p Students may select one of the research topics proposed by academic staff, or they may advance their own topic, in agreement with a coordinating professor.

  ul.right
    li.calendar
      h1 Academic staff present open research directions to students
      h2 October 13 2016, 19.00
    li
      h1 Research topic selection deadline for students
      h2 October 21 2016
