.step.left.signing
  h1 Signing the study contract
  p After admission, students will register and conclude the study contract.

  ul
    li.calendar
      h1 Registration for the SRIC program
      h2 September 18 2016
    li
      h1 Selecting optional courses and signing the contract
      h2 October 3 - 14 2016
