.Header {
  height: 100vh;

  overflow: hidden;

  background-image: url('./assets/header.svg');
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;

  .logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    img {
      height: 30px;
    }

    img:last-child {
      height: 50px;
    }
  }

  .stage {
    width: 100%;
    
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .globe {
      height: 90vh;
      animation-name: globe;
      animation-duration: 1000s;
      animation-iteration-count: infinite;
      animation-fill-mode: both;
    }

    .logo {
      position: absolute;
      width: 50vw;
      min-width: 250px;
      max-width: 500px;
      margin: 0 auto;
    }
  }
}

@keyframes globe {
  0% {
    transform: scale(0.8) rotate(0deg);
  }

  50% {
    transform: scale(1.2) rotate(360deg);
  }

  0% {
    transform: scale(0.8) rotate(0deg);
  }
}