.WhySric {
  .HowToApplyModal .rodal-dialog {
    overflow: auto;
    height: 80vh !important;
  }
}


@media screen and (max-width: 1200px) {
  .howtoButton {
    display: none
  }
}

.rodal-dialog {
  height: 80vh !important;
}