li.calendar:before {
  background-image: url(./assets/calendarYellow.svg);
}

li.clock:before {
  background-image: url(./assets/clockYellow.svg);
}

li.dollar:before {
  background-image: url(./assets/dollarYellow.svg);
}

li.location:before {
  background-image: url(./assets/locationYellow.svg);
}

li.exam:before {
  background-image: url(./assets/examYellow.svg);
}
