include ./partials/sections/header.pug
include ./partials/sections/why.pug
include ./partials/sections/courses.pug
include ./partials/sections/career.pug
include ./partials/sections/community.pug
include ./partials/sections/people.pug
include ./partials/sections/footer.pug
doctype html
html
  head
    title="SRIC Master 2016"
    link(rel="stylesheet" href="css/style.css")
    meta(charset="utf-8")
  body

    +header(locals.data.courses)
    +why(locals.data.copy.why)
    +courses(locals.data.courses, locals.data.people)
    +career(locals.data.copy.career)
    +community(locals.data.copy.community)
    +people(locals.data.people)
    +footer

    script(src='js/courses.js')
    script(src='js/community.js')
