include ./partials/sections/header.pug
include ./partials/sections/why.pug
include ./partials/sections/howtoapply.pug
include ./partials/sections/courses.pug
include ./partials/sections/career.pug
include ./partials/sections/community.pug
include ./partials/sections/people.pug
include ./partials/sections/contact.pug
include ./partials/sections/footer.pug
doctype html
html
  head
    title="SRIC Master 2016"
    link(rel="stylesheet" href="css/style.css")
    link(rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png")
    link(rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="96x96" href="img/favicon-96x96.png")
    link(rel="shortcut icon" href="img/favicon.ico")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body

    +header(locals.courses)
    +why(locals.copy.why)
    +howtoapply
    +courses(locals.courses, locals.people)
    +career(locals.copy.career)
    +community(locals.copy.community)
    +people(locals.people)
    +contact
    +footer

    script(src='js/vendor/fetch.js')
    script(src='js/vendor/smoothscroll.js')
    script(src='js/howtoapply.js')
    script(src='js/courses.js')
    script(src='js/community.js')
    script(src='js/contact.js')
    script.
      smoothScroll.init();
